<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="assets/img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="assets/fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="assets/fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="assets/fonts/evafeat/evafeat.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="assets/css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="assets/css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="assets/css/flickity.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="assets/css/aos.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="assets/css/swiper.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="assets/css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
  </head>

  <body>
  <div class="box-container limit-width">
    <!-- ***** LOADING PAGE ****** -->
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">Tarsier...</div>
      </div>
    </div>

    <!-- ***** NAV MENU DESKTOP ***** -->
    <div class="menu-wrap">
      <div class="nav-menu">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2 col-md-2">
              <div class="brand d-flex gap-3 align-items-center">
                  <div class="brand-logo">
                      <img class="w-100" src="./assets/img/brand.png" alt="">
                  </div>
                  <div class="brand-text">
                      <p>tars<span style="color: red">i</span>er</p>
                  </div>
              </div>
            </div>
            <nav id="menu" class="col-10 col-md-10">
              <div class="navigation float-end">
                <button class="menu-toggle">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
                </button>
                <ul class="main-menu nav navbar-nav navbar-right">
                  <li class="menu-item menu-item-has-children me-2">
                    <a class="m-0 pe-1 v-stroke" href="#" data-i18n="[html]header.home">Home</a>
                  </li>
                  <li class="menu-item menu-item-has-children me-2">
                    <a class="m-0 pe-1 v-stroke" href="#" data-i18n="[html]header.services">About Us</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a class="v-stroke" href="#" data-i18n="[html]header.pages">Products</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a class="v-stroke" href="#" data-i18n="[html]header.features">Blog</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** NAV MENU MOBILE ***** -->
    <div class="menu-wrap mobile">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6">
              <div class="brand d-flex align-items-center gap-3">
                  <div class="brand-logo">
                      <img class="w-100" src="./assets/img/brand.png" alt="">
                  </div>
                  <div class="brand-text">
                      <p>Tars<span style="color: red">i</span>er</p>
                  </div>
              </div>
          </div>
            <!-- open bar  -->
          <div class="col-6">
            <nav class="nav-menu float-end d-flex">
              <button id="nav-toggle" class="menu-toggle">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
              </button>
              <div class="main-menu bg-seccolorstyle">
                <div class="menu-item">
                  <a class="mergecolor" href="#" data-bs-toggle="dropdown">Home</a>
                </div>
                <div class="menu-item">
                  <a class="mergecolor" href="#" data-bs-toggle="dropdown">About Us</a>
                </div>
                <div class="menu-item">
                  <a class="mergecolor" href="#" data-bs-toggle="dropdown">Products</a>
                </div>
                <div class="menu-item">
                  <a class="mergecolor" href="#" data-bs-toggle="dropdown">Blog</a>
                </div>

                <div class="float-start w-100 mt-3">
                  <p class="c-grey-light seccolor"> <small> Phone: + (123) 1300-656-1046</small> </p>
                  <p class="c-grey-light seccolor"><small>Email: antler@mail.com</small> </p>
                </div>
                <div>
                  <a href="login"><div class="btn btn-default-yellow-fill mt-3">CONTACT US </div></a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- ***** SLIDER ***** -->
    <section class="main-container slider">
      <div class="silder-container">
        <div class="carousel header-main-slider">
          <!-- 1 Slider -->
          <div class="carousel-cell total-grad-pink-blue-intense">
            <div class="slider-content">
              <div class="container">
                <img class="svg custom-element-right" src="assets/img/bg.svg" alt="Dedicated Server 3d">
                <div class="col-sm-12 col-md-8 px-0">
                  <h1 data-aos="fade-up" data-aos-duration="800">The Art of Fabric <div class="animatype"> <span id="typed3"></span></div></h1>
                  <p data-aos="fade-up" data-aos-duration="1200" class="subheading">Superior Products with AI-Powered Fabric Quality Control</p>
                  <a href="vps" class="btn btn-default-yellow-fill me-3 mt-3">Contact Us</a>
                  <a href="vps" class="btn btn-default-pink-fill mt-3">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** LOAD BALANCING ***** -->
    <section class="balancing sec-normal pb-80 bg-colorstyle">
      <div class="h-services">
        <div class="container">
          <div class="randomline">
            <div class="bigline"></div>
            <div class="smallline"></div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="section-heading mergecolor">Cloud-Based Accessibility</h2>
              <p class="section-subheading mergecolor">
                  With our system accessible through cloud computing, you can streamline the tracking of your quality control process and enhance your productivity with ease
              </p>
            </div>
            <div class="col-md-12">
              <div class="wrap-service load">
                <div class="wow animated fadeInUp fast">
                  <img class="svg mt-50 w-100 ltr-img d-block" src="assets/patterns/balancing.svg" alt="Load Balancing">
                  <img class="svg mt-50 w-100 rtl-img d-none" src="assets/patterns/balancing-rtl.svg" alt="Load Balancing">
                </div>
                <div class="row text-info text-center">
                  <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[1] Users</b> <br>
                    <span class="info seccolor">Customized User Experience with Role-Based Access Control</span>
                  </div>
                  <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[2] Fralz</b> <br>
                    <span class="info seccolor">A Quality Control Mechanism That Never Compromises Efficiency</span>
                  </div>
                  <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[3] Cloud Servers</b> <br>
                    <span class="info seccolor">Unleash the power of unlimited data access</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <svg class="division-ontop bg-white d-none" viewbox="0 0 1440 150">
      <path fill="#fdd700" fill-opacity="1" d="M0,96L120,85.3C240,75,480,53,720,53.3C960,53,1200,75,1320,85.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>
    
    <!-- ***** FEATURES ***** -->
    <section class="services sec-normal sec-bg4 exapath">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Why Choose Tarsier?</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-12 col-lg-4 wow animated fadeInUp fast">
                  <div class="service-section bg-colorstyle noshadow">
                      <div class="row align-items-center">
                          <div class="col-2 col-sm-2 col-lg-4">
                              <img class="svg w-100" src="assets/fonts/svg/helpdesk.svg" alt="">
                          </div>
                          <div class="col-10 col-sm-10 col-lg-8">
                              <div class="title mergecolor">Support 24x7x365</div>
                          </div>
                      </div>
                      <p class="subtitle seccolor">
                          Excepteur sint occaecat cupidatat non proident voluptate
                      </p>
                  </div>
                </div>
                <div class="col-xs-12 col-lg-4 wow animated fadeInUp">
                  <div class="service-section bg-colorstyle noshadow">
                      <div class="row align-items-center">
                          <div class="col-2 col-sm-2 col-lg-4">
                              <img class="svg w-100" src="assets/fonts/svg/window.svg" alt="">
                          </div>
                          <div class="col-10 col-sm-10 col-lg-8">
                              <div class="title mergecolor">Free WHM &amp; cPanel</div>
                          </div>
                      </div>

                      <p class="subtitle seccolor">
                          Excepteur sint occaecat cupidatat non proident dolor
                      </p>
                  </div>
                </div>
                <div class="col-xs-12 col-lg-4 wow animated fadeInUp fast">
                <div class="service-section bg-colorstyle noshadow">
                    <div class="row align-items-center">
                        <div class="col-2 col-sm-2 col-lg-4">
                            <img class="svg w-100" src="assets/fonts/svg/cloudmanaged.svg" alt="">
                        </div>
                        <div class="col-10 col-sm-10 col-lg-8">
                            <div class="title mergecolor">Perfomance Optimized</div>
                        </div>
                        <p class="subtitle seccolor">
                            Excepteur sint occaecat cupidatat non proident voluptate
                        </p>
                    </div>
              </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/typed.js"></script>
<script defer="" src="assets/js/popper.min.js"></script>
<script defer="" src="assets/js/bootstrap.min.js"></script>
<script defer="" src="assets/js/jquery.countdown.js"></script>
<script defer="" src="assets/js/jquery.magnific-popup.min.js"></script>
<script defer="" src="assets/js/slick.min.js"></script>
<script defer="" src="assets/js/flickity.pkgd.min.js"></script>
<script defer="" src="assets/js/flickity-fade.min.js"></script>
<script defer="" src="assets/js/aos.min.js"></script>
<script defer="" src="assets/js/isotope.min.js"></script>
<script defer="" src="assets/js/jquery.scrollme.min.js"></script>
<script defer="" src="assets/js/swiper.min.js"></script>
<script async="" src="assets/js/lazysizes.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer="" src="assets/js/scripts.min.js"></script>
<script defer="" src="assets/js/settings-init.js"></script>
<script>
var typed3 = new Typed('#typed3', {
strings: ["Quality Control"],
typeSpeed: 50,
backSpeed: 20,
smartBackspace: true,
loop: true
});
</script>
</body>
</html>